<div class="d-flex justify-content-center flex-row">
    <div class="col-md-3">
        <img src="../../assets/images/logo.png" alt="Logo de l'Office Pharmaceutique National">
    </div>
    <div class="col-md-3">
        <h5><strong>Suivez-nous</strong></h5>
        <div class="social-links d-flex flex-column">
            <a href="https://www.linkedin.com" target="_blank" class="mb-2">
                <i class="fab fa-linkedin"></i>&nbsp;&nbsp; LinkedIn
            </a>
            <a href="https://www.youtube.com" target="_blank" class="mb-2">
                <i class="fab fa-youtube"></i> YouTube
            </a>
            <a href="https://www.facebook.com" target="_blank" class="mb-2">
                <i class="fab fa-facebook"></i>&nbsp;&nbsp; Facebook
            </a>
            <a href="https://www.whatsapp.com" target="_blank" class="mb-2">
                <i class="fab fa-whatsapp"></i>&nbsp;&nbsp; WhatsApp
            </a>
            <a href="https://www.tiktok.com" target="_blank" class="mb-2">
                <i class="fab fa-tiktok"></i>&nbsp;&nbsp; TikTok
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <h5><strong>Liens rapides</strong></h5>
        <div class="social-links d-flex flex-column">
            <a href="/">Actualités</a>
            <a href="/">Servicess</a>
            <a href="/about">À propos</a>
            <a href="/login">Se connecter</a>
        </div>

    </div>
</div>
