
.panier-card{
    position: relative;
    z-index: 1;
    height: 85vh;
}

.panier-card-header{
    
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    margin: 30px 0;
}

.ligne-card {
    
    color: #000;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.ligne-card:hover {
    box-shadow: 0px 0px 5px rgba(36, 14, 161, 0.4); /* Ombre plus large tout autour */
    transform: scale(1.01);
    z-index: 10;
}


  /* Ajouter opacité de 0.5 au fond du modal */
  .modal{
    
    top: 25vh;
    left: 25%;
    height: 50vh;
    width: 50%;
    font-weight: bold;
    border-radius: 10px;
    font-size: 0.8rem;
    background-color: #031e4b;
    box-shadow: 0px 0px 5px  rgba(0, 0, 0, 0.3);
    z-index: 5;
  }
  
  .modal-backdrop {
    opacity: 1 !important;
  }
  
  .modal-content {
    border-radius: 1px;
    
  }
  
  .custom-modal-width {
    width: 100%; /* ou 50%, selon ce que vous préférez */
  }
  
  .title{
    font-weight: bold;
    font-size: 3rem;
    color: #002b5f;
  }

  .ligne-commande-title{
    background-color: #002b5f;
    color: #fff;
  }