<app-client-nav-bar ></app-client-nav-bar>

<div class="container panier-card mt-2">
  <h4 class="mb-3 title"><strong>Votre panier d'achat</strong></h4>
    <!-- Les informations globales sur le panier -->
    <div class="container p-3 ligne-commande-title bold panier-card-header">
        <div class="row mb-4 align-items-center container">
            <!-- Colonne avec les informations du panier -->
            <div class="col-md-6">
                
                <p><strong>Nombre total d'articles :</strong> {{ 50 }}</p>
                <p><strong>Montant total :</strong> {{ 560000 }} FCFA</p>
                <p><strong>Date :</strong> {{date }}</p>
            </div>
        
            <!-- Colonne avec les boutons d'actions -->
            <div class="col-md-6 text-md-end text-center mt-3 mt-md-0">
                <button class="btn btn-light me-2" (click)="validerPanier()">
                    <i class="fas fa-check"></i> Valider le Panier
                </button>
                <button class="btn btn-danger" (click)="viderPanier()">
                    <i class="fas fa-trash"></i> Vider le Panier
                </button>
            </div>
        </div>
    </div>
    

    <!-- Présentation des lignes de panier sous forme de card -->
    <div class="row">
        <div *ngFor="let ligne of lignesPanier" class="col-md-4 mb-4 ligne-card">
            <div class="card shadow-sm">
                <div class="card-header ligne-commande-title hover bold text-white">
                    Produit : {{ ligne.produit.nom }}
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <strong>Quantité :</strong> {{ ligne.quantite }}<br>
                        <strong>Prix unitaire :</strong> {{ ligne.produit.prix }} FCFA<br>
                        <strong>Sous-total :</strong> {{ ligne.quantite * ligne.produit.prix }} FCFA
                    </p>
                    <div class="d-flex justify-content-between">
                        
                        <button class="btn btn-sm btn-outline-success" (click)="ModifierLaQuantite(ligne)">
                            <i class="fas fa-pencil"></i> Ajouter
                        </button>
                        <button class="btn btn-sm btn-outline-danger" (click)="supprimerLigne(ligne)">
                            <i class="fas fa-times"></i> Supprimer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


  <!--Fenetre modal pour modifier la quantite d'une ligne-->
  <div [class]="estVisibleLeFormulaireDajout ? 'modal  show ' : 'modal fade'" [style.display]="estVisibleLeFormulaireDajout ? 'block' : 'none'" *ngIf="ligneCourant">
    <div class="modal-dialog modal-dialog-centered custom-modal-width">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><i class="fas fa-box"></i> {{ligneCourant.produit.nom}}</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="estVisibleLeFormulaireDajout = false"></button>
        </div>
        <div class="modal-body" >
          <form [formGroup]="formulaireModificationLignePanier">
            <!-- Quantité Input -->
            <div class="mb-3">
              <label for="quantite" class="form-label">Quantité <span class="text-danger">*</span></label>
              <input type="number" class="form-control" formControlName="quantite" id="quantite" placeholder="Entrez la quantité" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <!-- Bouton Annuler -->
          <button type="button" class="btn btn-outline-danger" (click)="estVisibleLeFormulaireDajout = false">
            <i class="fas fa-times"></i> Annuler
          </button>
          <!-- Bouton Valider -->
          <button type="button" class="btn btn-outline-success" (click)="validerQuantite()">
            <i class="fas fa-check"></i> Valider
          </button>
        </div>
      </div>
    </div>
  </div>



