.animated-text {
    font-size: 3rem;
    font-weight: bold;
    color: #002b5f;
    animation: fadeIn 2s forwards, underline 2.5s forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes underline {
    0% {
      border-bottom: 0px solid #000;
    }
    100% {
      border-bottom: 2px solid #007bff;
    }
  }


 /* Effet de survol sur les cartes de commande */
.commande-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.commande-card:hover {
  transform: scale(1.05); /* Agrandissement léger */
  box-shadow: 0 4px 20px rgba(19, 2, 109, 0.5); /* Ombre plus intense */
}

.neant{
  background-color: #002b5f;
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
  border-radius: 10px;
}

