<header>
    <div>
        Bienvenue sur la page officielle de l'Office National des Pharmacies
    </div>
    <nav>
        <img src="../../assets/images/logo.png" alt="" srcset="" width="32px" height="32px">
        <div>
            <ul>
                <li>
                    <a [href]="lesActions[0].router">{{lesActions[0].title}} <i class="bi bi-chevron-down"></i>

                    </a>
                    <ul>
                        <li><a [href]="lesActions[1].router">{{lesActions[1].title}}</a></li>
                        <li><a [href]="lesActions[2].router">{{lesActions[2].title}}</a></li>
                        <li><a [href]="lesActions[3].router">{{lesActions[3].title}}</a></li>
                    </ul>
                </li>
                <li>
                    <a [href]="lesActions[4].router">{{lesActions[4].title}} <i class="bi bi-chevron-down"></i>
                    </a>
                    <ul>
                        <li><a [href]="lesActions[5].router">{{lesActions[5].title}}</a></li>
                        <li><a [href]="lesActions[6].router">{{lesActions[6].title}}</a></li>
                    </ul>
                </li>
                <li>
                    <a [href]="lesActions[7].router">{{lesActions[7].title}} <i class="bi bi-chevron-down"></i>
                    </a>
                    <ul>
                        <li><a [href]="lesActions[8].router">{{lesActions[8].title}}</a></li>
                        <li><a [href]="lesActions[9].router">{{lesActions[9].title}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <div>
                <button class="btn btn-outline-success bg-success"
                (click)="voirPanier()"
                ><i class="bi bi-cart-plus"></i><!--{{panierClient.nombreLigne}} --></button>
            </div>
            <div>
                <a href="#" *ngIf="compte" >{{compte.nomEntreprise}}</a>
            </div>
            <div>
                <button (click)="deconnexion()">Déconnecter</button>
            </div>
        </div>
    </nav>

    
</header>




