
<div class="container ">

    <!--En tête de la présentation-->
    <div class="d-flex flex-row justify-content-between mb-2">
        <h6 class="h6 me-5">Liste des clients</h6>

        <!--Formulaire de filtre et de recherche-->
        <form [formGroup]="researchAndFiltreForm" class="flex-grow-1">
            
          
            <div class="d-flex justify-content-start flex-row">
              <!-- Anciens clients -->
              <div class="form-group me-3">
                <label for="operationnel" class="text-small-m me-3">
                  <i class="bi text-danger bi-trash"></i>
                  Anciens clients: {{ lesClientsOperationnels.length }}
                </label>
                <input
                  type="checkbox"
                  id="operationnel"
                  formControlName="operationnel"
                  (change)="recupererLesClients()"
                  class="form-check-input"
                >
              </div>
          
              <!-- Nouveaux clients -->
              <div class="form-group">
                <label for="nonOperationnel" class="text-small-m me-3">
                  <i class="bi bi-pencil text-success"></i>
                  Nouveaux clients: {{ lesClientsNonOperationnels.length }}
                </label>
                <input
                  type="checkbox"
                  id="nonOperationnel"
                  formControlName="nonOperationnel"
                  (change)="recupererLesClients()"
                  class="form-check-input"
                >
              </div>
            </div>
          
            <!-- Recherche -->
            <input
              type="search"
              class="form-control form-control-sm w-100"
              placeholder="Rechercher..."
              formControlName="search"
              (input)="researchClients()"
            >
          </form>
          
    </div>


    <!--Affichage du tableau-->
    <div class="space-client">
        <table class="table table-striped table-bordered border">
            <thead>
                <tr>
                    <th *ngFor="let op of ['ID', 'Identifiant', 'Structure','Type', 'Email', 'N° Accr', 'Tél'
                        , 'Adresse', 'Nom Resp', 'Tél resp', 'Preuve', 'Active', 'Supprimer'
                    ]"
                     class="bg-black text-light text-small-m">{{op}}</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr class="text-small-m" *ngFor="let client of lesClients">
                    <td>{{lesClients.indexOf(client) + 1}}</td>
                    <td>{{client.identifiant}}</td>
                    <td>{{client.nomEntreprise}}</td>
                    <td>{{client.typeStructure}}</td>
                    
                    <td>{{client.email}}</td>
                    <td>{{client.numeroAccreditation}}</td>
                    <td>{{client.numeroTelephone}}</td>
                    <td>{{client.adresse}}</td>
                    <td>{{client.nomDuResponsable}}</td>
                    <td>{{client.numeroContactResponsable}}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-success"><i class="bi bi-download"></i></button>
                    </td>

                    <td>
                        <button *ngIf="client.isActive" 
                                class="btn btn-sm btn-outline-success"
                                (click)="validateClientRegistration(client)"
                                title="Activer le compte du client"
                                >
                            
                            <i class="bi bi-pencil"></i>
                        </button>
                    
                        <button *ngIf="!client.isActive" 
                            class="btn btn-sm btn-outline-danger"
                            (click)="desactivateClientAccount(client)"
                            title="Désactiver le compte du client"
                            >
                            <i class="bi bi-pencil"></i>
                        </button>
                    </td>
                    <td>
                        <button *ngIf="client.isDeleted" 
                          class="btn btn-sm btn-outline-danger"
                          
                          title="Désactiver le compte du client"
                          >
                          <i class="bi bi-trash"></i>
                      </button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
