
<div class="header-catalogue">
    <app-client-nav-bar ></app-client-nav-bar>
    <!--Présentation des filtres-->
    <div class="filter-container p-1">
        <form class="d-flex flex-wrap align-items-center justify-content-between w-100">
            <!-- Recherche par nom de produit -->
            <div class="me-3 flex-grow-1">
                <input type="search" class="form-control form-control-sm" id="productName" name="productName" placeholder="Entrez le nom du produit">
            </div>
    
            
        </form>
    </div>
</div>
<main>
    
    
    
    


    <!--Présentation des produits-->
    <div class="product-display ">

        <div class="card-container">

            <!--Présentation des dispositifs médicaux-->
            <div class="product-card" *ngFor="let produit of lesDispositifsMedicaux">

                <img src="../../assets/images/img_1.png" alt="Nom du Produit 1" class="product-image">
                <h6>{{ produit.libelle }}</h6>
                <p><strong>Fabriqué en: </strong>{{ produit.paysFabrication }}</p>
                <p><strong>Prix:</strong> {{ produit.prixGenerique }} FCFA</p>
                
                
                  
                <div class="button-group">
                    <button class="detail-button" (click)="ajouterAuPanier(produit)" >
                      <i class="bi bi-cart-plus"></i> Ajouter au panier
                    </button>
                </div>
                
              
              </div>
              



            <!-- Ajoute ici d'autres cartes de produits -->
        </div>

    </div>

    <!--formulaire pour ajouter un produit au panier-->
    <div [class]="estVisibleLefFormulaireDajout ? 'modal  show ' : 'modal fade'" [style.display]="estVisibleLefFormulaireDajout ? 'block' : 'none'" *ngIf="produitAjouter">
      <div class="modal-dialog modal-dialog-centered custom-modal-width">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><i class="fas fa-box"></i> {{produitAjouter.libelle.toLocaleLowerCase()}}</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="estVisibleLefFormulaireDajout = false"></button>
          </div>
          <div class="modal-body" >
            <form [formGroup]="formulaireAjoutAuPanier">
              <!-- Quantité Input -->
              <div class="mb-3">
                <label for="quantite" class="form-label">Quantité <span class="text-danger">*</span></label>
                <input type="number" class="form-control" formControlName="quantite" id="quantite" placeholder="Entrez la quantité" required>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <!-- Bouton Annuler -->
            <button type="button" class="btn btn-outline-danger" (click)="estVisibleLefFormulaireDajout = false">
              <i class="fas fa-times"></i> Annuler
            </button>
            <!-- Bouton Valider -->
            <button type="button" class="btn btn-outline-success" (click)="validerQuantite()">
              <i class="fas fa-check"></i> Valider
            </button>
          </div>
        </div>
      </div>
    </div>
    
        
    
</main>



