
<div class="color-1 text-center text-white">
  <p class="small">Office National des Pharmacies </p>
</div>
<nav class="navbar navbar-expand-lg text-light text-center align-items-center shadow">
 
  <div class="col-md-4">
    <!-- Logo Section -->
    <a class="" routerLink="/about">
      <h1 class="logo"></h1>
    </a>
  </div>

   <!-- Navbar links -->
   <div class="d-flex justify-content-center align-items-center col-md-8 me-5" >
      
    <a *ngFor="let action of actions" routerLink="{{action.router}}"
       (click)="changeAction(action)"
       [class]="currentAction==action ? 'nav-link-active' : 'nav-link'">
      {{ action.title }}
    </a>
  </div>
</nav>
