
<div class="header-catalogue">
    <app-client-nav-bar ></app-client-nav-bar>
    <!--Présentation des filtres-->
    
<div class="filter-container p-1">
  <form [formGroup]="formulaireDeRecherche" class="d-flex flex-wrap align-items-center justify-content-center w-100">
      <!-- Recherche par nom de produit -->
      <div class="search-input me-3 col-md-6">
          <i class="fa fa-search"></i>
          <input type="search" class="form-control form-control-sm" id="productName" formControlName="key" name="productName" placeholder="Entrez le nom du produit" (input)="rechercherParMotCle()">
      </div>
      
  </form>
</div>
</div>
<main>
    
    
    
    


    <!--Présentation des produits-->
    <div class="product-display ">

        <h3>
          <strong>Catalogue des produits</strong>
        </h3>

        <div class="card-container">

          

            <!--Présentation des médicaments-->
            <div class="product-card" *ngFor="let produit of lesMedicaments">

                <img src="../../assets/images/img_1.png" alt="Nom du Produit 1" class="product-image">
                <h6>{{ produit.libelle }}</h6>
                <p><strong>Spécialité: </strong>{{ produit.specialitePharmaceutique.libelleSpecialiteMedicament }}</p>
                <p><strong>Concentration: </strong>{{ produit.concentration }} {{ produit.uniteConcentration }}</p>
                <p><strong>Forme Galénique:</strong> {{ produit.formeGalenique.nomFormeGalenique }}</p>
                <p><strong>Prix: </strong> {{produit.prixGenerique}}</p>
                
                  
                  <div class="button-group">
                    <button class="detail-button" (click)="ajouterAuPanier(produit)" >
                      <i class="bi bi-cart-plus"></i> Ajouter au panier
                  </button>
                  
                </div>
              
              </div>


            <!--Présentation des dispositifs médicaux-->
            <div class="product-card" *ngFor="let produit of lesDispositifsMedicaux">

                <img src="../../assets/images/img_1.png" alt="Nom du Produit 1" class="product-image">
                <h6>{{ produit.libelle }}</h6>
                <p><strong>Fabriqué en: </strong>{{ produit.paysFabrication }}</p>
                <p><strong>Prix:</strong> {{ produit.prixGenerique }} FCFA</p>
                
                
                  
                <div class="button-group">
                    <button class="detail-button" (click)="ajouterAuPanier(produit)" >
                      <i class="bi bi-cart-plus"></i> Ajouter au panier
                    </button>
                </div>
                
              
              </div>
              



            <!-- Ajoute ici d'autres cartes de produits -->
        </div>

    </div>

    <!--formulaire pour ajouter un produit au panier-->
    <div [class]="estVisibleLefFormulaireDajout ? 'modal  show ' : 'modal fade'"  *ngIf="produitAjouter">
      <div class="modal-dialog modal-dialog-centered custom-modal-width">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><i class="fas fa-box"></i> {{produitAjouter.libelle.toLocaleLowerCase()}}</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="estVisibleLefFormulaireDajout = false"></button>
          </div>
          <div class="modal-body" >
            <form [formGroup]="formulaireAjoutAuPanier">
              <!-- Quantité Input -->
              <div class="mb-3">
                <label for="quantite" class="form-label">Quantité <span class="text-danger">*</span></label>
                <input type="number" class="form-control" formControlName="quantite" id="quantite" placeholder="Entrez la quantité" required>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <!-- Bouton Annuler -->
            <button type="button" class="btn btn-outline-danger" (click)="estVisibleLefFormulaireDajout = false">
              <i class="fas fa-times"></i> Annuler
            </button>
            <!-- Bouton Valider -->
            <button type="button" class="btn btn-outline-success" (click)="validerQuantite()">
              <i class="fas fa-check"></i> Valider
            </button>
          </div>
        </div>
      </div>
    </div>
    
        
    
</main>



