/* You can add global styles to this file, and also import other style files */

@import "bootstrap-icons/font/bootstrap-icons.css";

/* definition des couleur*/
.color-1{
  background-color: #002b5f;
}

.color-2{
  background-color: #e3e3e3;
}

.shadow{
  box-shadow: 2px 5px 0px 0px rgba(0, 0, 0, .5);
}

.small {
  margin: 1px;
  padding: 1px 4px;
  font-size: 0.3rem;
  border-radius: 0;
}




.text-small-m{
  font-size: 0.8rem;
  color:#000;


}

.mini-aside{
  position: fixed;
  top:0;
  left: 200px;
  width: calc(100% - 200px);
}

.show {
  position: fixed;
  top: 50px;
  left: 250px;
  z-index: 10;
  width:calc(100% - 250px);
  height: 90vh;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover; /* L'image couvrira tout l'espace */
  background-position: center; /* Centrer l'image dans le conteneur */
}



/*hover class*/
.hover{
  border-radius: 5px;
  box-shadow:  3px 3px 3px rgba(26, 2, 99, .9);
}

.hover:hover{
 
  transform: scale(1.05);
  box-shadow: 6px 10px 10px rgba(26, 2, 99, 0.9);

}



/* Barre de navigation */
.navbar {
  background-color: #fff;
  
  height: 92px;
}

.nav-link{
  padding: 2.3rem  50px;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  align-items: center;
  font-weight: bold;
}

.nav-link:active{
  color:#fff;
}

.nav-link:hover{
  padding: 2.3rem  50px;
  font-size: 1rem;
  background-color: #086ae2;
  color: #fff;
}


.nav-link-active{
  background-color: #002b5f;
  padding: 2.3rem  50px;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

/* background image*/
.bg-image{
  background-image: url("assets/images/immeuble_opn.jpeg");
  background-size: cover; /* Ajuste la taille de l'image pour couvrir l'élément */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Évite la répétition de l'image */
  width: 100%;
  height: auto;
}


/* Style pour le contenu */
.content h1 {
  font-size: 3rem; /* Taille de la police pour le titre */
  font-weight: bold; /* Mettre le titre en gras */
  margin-bottom: 1rem; /* Espace sous le titre */
}

.content h3 {
  font-size: 2rem; /* Taille de la police pour le sous-titre */
  margin-bottom: 0.5rem; /* Espace sous le sous-titre */
}

.content h6 {
  font-size: 1.25rem; /* Taille de la police pour le slogan */
  margin-bottom: 2rem; /* Espace sous le slogan */
}

.show-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width:100%;
  height: 100vh;
  background-color: rgba(24, 4, 119, 0.7); /* Couleur de fond semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
}

.scroller-card{
  overflow-y: auto;
  height: 90vh;
}

.bg-opn-1{
  background-color: #d8dbdd;

}

/* Media query pour les écrans de moins de 768px (tablettes et mobiles) */
@media (max-width: 568px) {


  .container {
    padding: 10px;
  }

  .card {
    width: 100%;
    margin-bottom: 10px;
  }

  .content h1 {
    font-size: 2rem; /* Taille de la police pour le titre */
    margin-bottom: .5rem; /* Espace sous le titre */
  }

  .content h3 {
    font-size: 1.5rem; /* Taille de la police pour le sous-titre */
  }

  .content h6 {
    font-size: 1rem; /* Taille de la police pour le slogan */
    margin-bottom: 2rem; /* Espace sous le slogan */
  }
}

.btn-style-1{
  background-color: #002b5f;
  border-radius: 10px;
  color: #fff;
  font-size: .9rem;
  padding: 5px;
}

.btn-style-1:hover{
  background-color: #207ced;
}

.btn-style-1-active{
  background-color: #fff;
  color: #000;
}